@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

*{
    box-sizing:border-box;
   
}


  body, html { 
    background-size:auto;
    margin: 2px 2px;
    
   
} 


.body-div{
    height: 1758px;
    width: 1190px;
    padding-top: 30px;
    right: -5px;
    left: 1054px;
    background-image: url("images/bg-main-mobile.png");
    background-size: cover;
}



ul{
    display:inline-flex;
}



.equalizer {
    margin: 20px 50px;
    width: 180px;
}


.h1-text{
    width: 870px;
    height: 196px;
    margin:110px 100px;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    letter-spacing: -1px;
    color: #191826
    
}



.h1-p{
    width: 780px;
    height: 102px;
    margin: -70px 100px;
    font-family: 'IBM Plex Sans';
    font-weight: light;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #191826;
}


.pattern-1{
    position: absolute;
    float: right;
    Width: 240px;
    Height: 468px;
    margin-top: -50px; 
    left: 990px;
    
}



.illustration{
    position: absolute;
    width: 280px;
    height: 780px;
    margin-top: -280px;
    margin-left: 80px;
}



.pattern-2{
    display: grid;
    grid-template-columns: auto auto;
    width:330px;
    height:520px;
    padding-top: auto;
    margin-left: 290px; 
}


.section-div1 {
    background-color: #191826;
    width: 1000px; 
    border-radius: 15px;
    height: 680px;
    Top: 157px;
    Left: 1374px;
    margin-top: 450px;
    margin-left: 130px; 
}



.section-div2{
    background-color: #FA7453;
    Top:-268px;
    width: 380px;
    height: 660px;
    border-radius: 12px;
    margin-left: 530px;
    margin-top: -430px;
    margin-right: 150px;
    border-radius :15px;
    position: sticky;
}




.h3-text {
    color: white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    margin-left: 5px;
    padding: 25px;
}


.div-premium {
    margin : 18px;
    padding-top: 10px;
}


.div3-p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-left: 50px;
    margin-top: -20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #FCFAF9; 
}


.section-div5 {
    text-align: left;
    padding: 60px;
    margin-top: 50px;
}


.amount {
    color: white;
    font-size: 75px;
    line-height: 1px;
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: -10px;
    
}


.amount > span {
    color: white;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans'; 
    font-size: 22px;
    font-weight: 0;
    letter-spacing: 2px;
    margin-left: 18px;
}

.time {
    font-size: 1.6rem ;
    margin-bottom: 50px;
    line-height: 38px;
    top: calc(100% - 100px/2 - 1px);
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: normal;
}


.section-div6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -30px;
}


.div6-button1 {
    background-color: #191826;
    height: 55px;
    width: 290px;
    border-radius: 10px;
    margin-top: -30px;
}

.div6-button1:hover{
    background-color: #66e2dc;
    border: none;
}


.ios{
    font-size: 20px;
    color:#FCFAF9;
    margin-left: 6px;
    font-weight: 900;
    font-family: 'IBM Plex Sans';
}


.andriod{
    font-size: 20px;
    color:#191826;
    margin-left: 6px;
    font-weight: 700;
    font-family: 'IBM Plex Sans';

}

.div6-button2 {
    background-color:antiquewhite; 
    height: 55px;
    width: 290px;
    border-radius: 10px;
}

.div6-button2:hover{
    background-color: #FFB964;
    border: none;
}


.footer-div1 {
    display: flex;
    justify-content: space;
    flex-direction: row;
    width:100%;
}


.footer-div2 {
    display: flex;
    height: 30px;
    margin-top: 200px;
    margin-left: 130px; 
}



.h5-text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    left: 25.68%;
    margin-top: 200px;
    margin-left: 110px; 
    line-height: 34px;
}


.footer-div4 {
    display:flex;
    justify-content:space-between;
    position: absolute;
    margin-top: 200px;
    width: 100px;
    height: 20px;
    margin-left: 1020px; 
}


.h5-fbk:hover{
    fill:#FA7453; 
   
    
}


svg{
    fill:"#191826"
}

  
@media screen and (max-width: 768px) {/*Media Queries for Tablet View*/
    html, body {
        background-size:cover;          
        background-image: url("images/bg-main-tablet.png");
    
    }
    
    
    .body-div{
        width: 768px;    
    }                    
         
    
    .equalizer{
        position: absolute;
        margin-left: -50px;
        margin-top: 15px;
    }
    
    
    .pattern-1{
        position: absolute;
        width: 220px;
        height: 450px;
        left: 620px;
        top: 78px;
    }
    
    
    .h1-text{
        width: 650px;
        height: 106px;
        margin:130px -10px;
        font-size: 70px;
        line-height: 70px;
        letter-spacing: -1px;
    }
    
    
    .h1-p{
        font-size: 20px;
        width: 630px;     
        line-height: 30px;
        margin: 90px -10px;
        letter-spacing: 1px;
        font-weight: 400;
    }
    
    
    
    .section-div1 {
        position: absolute;
        width: 756px;
        height: 734px;
        left: -170px;
        top: 412px;
    }
    
    
    .pattern-2{
        width: 370px;
        height: 520px;
        margin-left:180px;
        margin-top: -40px;
    }
    
    
    .illustration{
        position: absolute;
        margin-left: 55px;
        height: 620px;
        width: 270px;
        margin-top: -120px;
    }
    
    
    .section-div2{
        position: absolute;
        top: 160px;
        left: 230px;
        width: 470px;
        height:650px;
        margin-top: 30px;
        border-radius: 14px;
    }
    
    
    .h3-text{
        margin-top: -10px;
        margin-left: 10px;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        width: 450px;
        line-height: 40px;
    }
    
    
    .div3-p {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        width: 470px;
        line-height: 25px;
        margin:-50px 52px;
        letter-spacing: 1.7px;
        color: #FCFAF9; 
        height: 40px;
    }
    
    .amount {
        color: white;
        font-size: 110px;
        line-height: 1px;
        display: flex;
        align-items: center;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
        margin-bottom: 40px;
        margin-top:150px;
        margin-left: -10px; 
    }
    
    
    .amount > span {
        color: white;
        margin-bottom: 10px;
        font-family: 'IBM Plex Sans'; 
        font-size: 20px;
        font-weight: 0;
        letter-spacing: 2px;
        margin-left: 10px;
    }
    
    
    .time {
        font-size: 1.8rem ;
        margin-bottom: 50px;
        line-height: 38px;
        top: calc(100% - 100px/2 - 1px);
        font-family: 'IBM Plex Sans';
        font-weight: 400;
        font-style: normal;
    }
    
    
    .div6-button1 {
        background-color: #191826;
        height: 60px;
        width: 360px;
        border-radius: 8px;
        margin-top: 20px;
        margin-left: -2px;
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-left: 40px;
    }
    
    
    .apple{
        height: 22px;
        width: 18px;
        margin-left: 70px;
    }
    
    
    .ios{
        position: absolute;
        font-size: 18px;
        color:#FCFAF9;
        margin-left: 90px;
        font-weight: 900;
        font-family: 'IBM Plex Sans';
        left: 100px;
    }
    
    
    .div6-button2 {
        background-color:antiquewhite; 
        height: 60px;
        width: 360px;
        border-radius: 8px;
        margin-top: -10px;
        margin-left: 0px;
        align-items: center;
        display: flex;
        flex-direction: row;     
    }
    
    
    .andriod-i{
        height: 22px;
        width: 18px;
        margin-left: 80px;
    
    }
    
    
    .andriod{
        position: absolute;
        font-size: 18px;
        color:#191826;
        margin-left: 110px;
        font-weight: 900;
        font-family: 'IBM Plex Sans';  
    }
    
    
    .footer-div1{
        position: absolute;
        width: 696px;
        height: 143px;
        left: -93px;
        top: 1700px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-bottom: 20px;
    }
    
    
    .footer-div2{
        width: 200px;
        display:flex;
        flex-direction: column;
        justify-content: left;
        margin-left: 130px;
        margin-top: 90px;
    }
    
    
    .h5-text{
        position: absolute;
        left: -200px;
        top: -20px;
        padding-bottom: 40px;
    }
    
    
    .footer-div4{
        position: absolute;
        display: flex;
        left: 775px;
        top: 23px;
    } 
    }
                    
        
    
    

 @media screen and (max-width: 480px) {  /*Mobile View media Queries*/  
html, body {
    background-size:cover;         
    background-image: url("images/bg-main-mobile.png"); 
                     
 }
            
            
.body-div{
    height: 205px;
    width: 165px;
    padding-top: 20px;
    padding-right: -450px;
    background-image: url("images/bg-main-mobile.png");
 }
                
            
.equalizer{
    position: absolute;
    margin-left: -35px;
    margin-top: -35px;
    width: 50px;
}
            
            
.pattern-1{
    position: absolute;
    float: right;
    Width: 120px;
    Height: 200px;
    margin-top: -80px; 
    left: 290px;
}
            
                
.div-sec{
    position: absolute;
    width: 127px;
    height: 220px;
    left: 64px;
    top: 6px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}
            
            
.h1-text{
    width: 280px;
    height: 26px;
    margin:110px -10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.454545px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.h1-p{
    font-size: 12px;
    font-style: normal;
    width: 240px;
    margin: 90px -10px;       
    line-height: 20px;
    font-weight: 400;
    color: #191826;
}


.section-div1 {
    position: absolute;
    width: 290px;
    height: 400px;
    left: -140px;
    top: 92px;
    border-radius: 10px;
}


.pattern-2{
    width: 220px;
    height: 320px;
    margin-left:40px;
    margin-top: 1px;
}


.illustration{
    position: absolute;
    left: -95px;
    height: 355px;
    width: 180px;
    margin-top: -100px;
}


.section-div2{
    position: absolute;
    top: 160px;
    left: -1px;
    width: 291px;
    height:400px;
    margin-top: 128px;
    border-radius: 10px;
}


.h3-text{
    margin-top: -30px;
    margin-left: -5px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    width: 250px;
    line-height: 40px;
}


.div3-p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    width: 220px;
    line-height: 15px;
    margin:-50px 40px;
    letter-spacing: 1.5px;
    color: #FCFAF9; 
    height: 40px;
}

.amount {
    color: white;
    font-size: 60px;
    line-height: 1px;
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top:50px;
    margin-left: -20px; 
}


.amount > span {
    color: white;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans'; 
    font-size: 12px;
    font-weight: 0;
    letter-spacing: 2px;
    margin-left: 10px;
}


.time {
    font-size: 1.8rem ;
    margin-bottom: 50px;
    line-height: 38px;
    top: calc(100% - 100px/2 - 1px);
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: normal;
}


.div6-button1 {
    background-color: #191826;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    margin-top: -20px;
    margin-left: -2px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}


.apple{
    height: 18px;
    width: 18px;
    margin-left: 10px;
}


.ios{
    position: absolute;
    font-size: 13px;
    color:#FCFAF9;
    margin-left: 110px;
    font-weight: 900;
    font-family: 'IBM Plex Sans';
    left: 10px;
}


.div6-button2 {
    background-color:antiquewhite; 
    height: 40px;
    width: 200px;
    border-radius: 8px;
    margin-top: -2px;
    margin-left: 0px;
    align-items: center;
    display: flex;
    flex-direction: row;     
}


.andriod-i{
    height: 15px;
    width: 15px;
    margin-left: 30px;

}


.andriod{
    position: absolute;
    font-size: 13px;
    color:#191826;
    margin-left: 50px;
    font-weight: 900;
    font-family: 'IBM Plex Sans';

    
}


.footer-div1{
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 96px;
    height: 143px;
    left: -70px;
    top: 1190px;    
}


.footer-equalizer{
    width: 70px;
    margin-top: -20px;
    margin-left: 10px;
}


.footer-div2{
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-left: 130px;
    margin-top: 90px;
}


.h5-text{
    position: absolute;
    left: -190px;
    top: -55px;
    font-size: 11px;
    width:250px;        
    line-height: 20px;
    margin:180px 330px;
}


.footer-div4{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    left: 130px;
    padding-bottom: 40px;       
}
}

 