
*{
    box-sizing: border-box;
    
}

html, body {
    background-size:cover;
    margin: 50px;
    padding: 20px 10px;
    @media screen and (max-width:1000px) and (min-width:768px)
    {
       background-color: blue;
   } 
        
    
}



.body-div{
    height: 2000px;
    width: 1333px;
    padding-top: 84px;
    background-image: url("images/bg-main-desktop.png");
}


ul{
    display:inline-flex;
}


.equalizer {
    margin: 20px -32px;
}


.equalizer:hover{
    background-color: aquamarine;
}


.pattern-1 {
    margin: 20px 100px;  
}


.h1-text{
    width: 1015px;
    height: 176px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826
}


.h1-p{
    width: 825px;
    height: 102px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
}


.pattern-1{
    Width: 312px;
    Height: 468px;
    position: absolute;
    float: right;
    margin-top: -100px;
    left: 1040px;
}


.pattern-1:hover{
    background-color:aqua;
}


.illustration{
    position: absolute;
    width: 400px;
    height: 670px;
    margin-top: -250px;
    margin-left: 50px;
}


.illustration:hover{
    background-color:aqua;
}


.pattern-2{
    margin: auto;
    display: block;
    width:312px;
    height:468;
    margin-top: 400px; 
}


.pattern-2:hover{
    background-color:aqua;
}


.section-div1 {
    background-color: #191826;
    width: 1110px;
    border-radius: 20px;
    height: 600px;
    Top: -337px;
    Left: 1374px;
    margin-top: 300px;
}


.section-div1:hover{
    background-color:greenyellow;
}


.section-div2{
    background-color: #FA7453;
    Top:-268px;
    Left:1934px;
    width: 446px;
    height: 625px;
    border-radius: 12px;
    margin-left: auto;
    margin-top: -400px;
    margin-right: 50px;
    border-radius :10px;
    position: sticky;
}


.section-div2:hover{
    background-color:burlywood;
}


.h3-text {
    color: white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-left: 20px;
    padding: 25px;
}


.div-premium {
    margin : 30px;
}


.div3-p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 50px;
    margin-top: -20px;
    line-height: 34px;
    color: #FCFAF9; 
}


.section-div5 {
    text-align: left;
    padding: 70px;
    margin-top: -20px;
}


.amount {
    color: white;
    font-size: 4rem;
    line-height: 1px;
    display: flex;
    align-items: center;
}


.amount > span {
    color: white;
    margin-bottom: 10px;
}


.time {
    font-size: 1.5rem ;
    margin-bottom: 50px;
    line-height: 32px;
    top: calc(100% - 100px/2 - 1px);
    font-family: 'IBM Plex Sans';
    font-weight: 100;
}


.section-div6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -30px;
}


.div6-button1 {
    background-color: #191826;
    height: 61px;
    width: 333px;
    border-radius: 12px;
}


.div6-button1:hover{
    background-color:aquamarine;
}


.div6-button2 {
    background-color:antiquewhite; 
    height: 61px;
    width: 333px;
    border-radius: 12px;
}


.div6-button2:hover{
    background-color:aquamarine;
}


.footer-div1 {
    display: flex;
    justify-content: space;
    flex-direction: row;
}


.footer-div2 {
    display: flex;
    margin-left: -0px;
    height: 32px;
    margin-top: 200px;    
}


.footer-div2:hover{
    background-color: aqua;
    border-color: aquamarine;
}


.h5-text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    left: 25.68%;
    margin-top: 200px;
    margin-left: 200px;
    line-height: 34px;
}


.footer-div4 {
    display:flex;
    justify-content:space-between;
    position: absolute;
    margin-top: 200px;
    width: 100px;
    height: 20px;
    left: 1099px;
    padding: -0px;
}


.h5-fbk:hover{
    background-color: yellowgreen;
} 


.h5-ig:hover{
    background-color: #f33809;
}


.h5-twt:hover{
    background-color: green;
}


@media (max-width: 768px) {
   
  
    .keys {
      width: 318px;
    }
  
    .logo {
      width: 150px;
    }
  }
  
  @media (max-width: 1199px) and (min-width: 769px) {
    .section-div1 {
        position: absolute;
        width: 696px;
        height: 834px;
        left: 33px;
        top: 832px;
    }
  .footer-div1{
    position: absolute;
    width: 696px;
    height: 143px;
    left: 33px;
    top: 2100px;
  }

















































































































































